.loginButton {
   font-size: 1.0rem; 
   font-weight: bold;
   display: block;
   margin: 1rem 0;
   padding: 0px 10%;

     
    
    /* These two properties are by default not inherited, so explicitly set */
 /*   background-color: inherit;
    border: none;  */

    /* color should be inherited based on css rules. Instead, kept seeing 'ButtonText' as the default, so explicitly inherited */
    /* color: inherit; */
}