.card {

    /* Note that 'auto' will center horizontally */
    margin: 5em auto;
    width: 30rem;
    max-width: 90%;
    padding: 2rem;
    box-sizing: border-box;

    box-shadow: 0px 2px 12px rgba(18, 16, 16, 0.2);
    
    /*  background: linear-gradient(to right, white, #8b005d); */
    /*  background: linear-gradient(to bottom right, white, #8b005d); */
    /* background: linear-gradient(180deg, white,rgb(139 0 93 / .5)); */
   /* background: linear-gradient(180deg, white,#8b005d); */
   background: linear-gradient(180deg, white,85%, #8b005d);
}